@media(max-width:768px){
.container{
    width: 400px;
    height: 400px;
}
.card .cityDisplay{
    font-size: 2rem;
}
.card .tempDisplay{
    font-size: 1.5rem;
}
.card .humidityDisplay, 
.card .descDisplay{
    font-size: 1rem;
}
.card .errorDisplay{
    font-size: 2rem;
    color: red;
}

}
@media(max-width:460px){
.container{
    width: 350px;
    height: 350px;
}
.card{
    height: 60%;
}
.card .cityDisplay{
    font-size: 1.75rem;
}
.card .tempDisplay{
    font-size: 1.5rem;
}
.card .humidityDisplay, 
.card .descDisplay{
    font-size: 1rem;
}
.card .errorDisplay{
    font-size: 2rem;
    color: red;
}

}